.sconnectpre{
    background: #71cedf;
    border: 2px dashed #000;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
}


.section-BGR-BOTTOM-RIGHT-Z{ position: relative; }
.section-BGR-BOTTOM-RIGHT-Z:after{
    content: "";
    background-image: url("../images/day_la_section_co_image_bottom_left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    content: "";    
    width: 230px;
    height: 71px;
}
@media (min-width: 850px){
    .section-BGR-BOTTOM-RIGHT-Z:after{
        width: 528px;
        height: 158px;
    }
}

.section-BGR-CUSTOM-ZZ .section-bg{
    background-image: url("../images/bgr_timhieuthem (3).svg"), url("../images/bgr_timhieuthem (2).svg"), url("../images/bgr_timhieuthem (1).svg");
    background-position: top left, 10% 70%, bottom right;
    background-repeat: no-repeat, no-repeat, no-repeat !important;
    background-size: auto !important;

}