:root{
    --xanh-nhat: #EDF5F1;
}


/*========================================= HEADER*/
/*========================================= FOOTER*/
.absolute-footer:not(.text-center) .footer-primary{
    border-radius: 10px;
    border: 1px solid #333;
    width: 100%;
    padding: 15px !important;

    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-direction: column;    
}
.menu-footer-menu-container{
    display: none;
}
@media(min-width: 850px){
    .absolute-footer:not(.text-center) .footer-primary {
        flex-direction: row-reverse;
        padding: 30px 50px !important;
    }
    .menu-footer-menu-container{
        display: block;
    }
}