.q__khong-gian > .box-text > .box-text-inner > button {
  border: 2px solid rgba(166, 224, 39, 1);
  color: rgba(166, 224, 39, 1);
}

.q__khong-gian > .box-text > .box-text-inner > button:hover {
  background-color: rgba(166, 224, 39, 1) !important;
  color: #fff;
}

.q__khong-gian > .badge > .badge-inner {
  background-color: rgba(244, 119, 48, 1);
}

.q__goc-nhin > .col-inner > .type-slider > .row > .flickity-page-dots > .dot {
  opacity: 0.8;
  background-color: #fff;
}

.q__goc-nhin
  > .col-inner
  > .type-slider
  > .row
  > .flickity-page-dots
  > .is-selected {
  background-color: rgba(244, 119, 48, 1);
}

.q__doi-tac > .section-content > .row > .col > .col-inner > a::before {
  right: -7%;
}

.q__slide-doi-tac > .slider > .flickity-button {
  background-color: #999;
  border-radius: 50%;
  opacity: 0.5;
}

.blog__chuong-trinh-dao-tao>.grid-col-1>.col-inner>a>.box>.box-text{
 	background-color: rgba(0, 132, 68, 1) !important;
    width: 66%;
    border-radius: 0 30px 0 5px;
    text-align: center;
	padding-top: 1.4em;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(2)>.col-inner>a>.box>.box-text{
	background: rgba(0, 101, 169, 0.6) !important;
    width: 66%;
    border-radius: 0 30px 0 5px;
    text-align: center;
	padding-top: 1.4em;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(3)>.col-inner>a>.box>.box-text{
	background: rgba(255, 97, 26, 0.6) !important;
    width: 66%;
    border-radius: 0 30px 0 5px;
    text-align: center;
	padding-top: 1.4em;
}

.blog__chuong-trinh-dao-tao>.grid-col-1>.col-inner>.custom_element_chuongtrinhdaotao>.inner{
	margin: auto;
}

.blog__chuong-trinh-dao-tao>.grid-col-1>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.items>.single-bomon-item{
	margin-bottom: 48px;
	border: 2px solid #0FB239;
    padding: 0 20px 0 0;
    border-radius: 10px;
	background: rgba(14, 17, 15, 0.8);
}

.blog__chuong-trinh-dao-tao>.grid-col-1>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.items>.single-bomon-item>a{
	align-items: center;
}

.blog__chuong-trinh-dao-tao>.grid-col-1>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.button{
	position: relative;
	overflow: hidden;
	padding: 5px 30px!important;
    border-radius: 6px;
}

.blog__chuong-trinh-dao-tao>.grid-col-1>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.button:hover{
	border: 2px solid #fff;
}

.blog__chuong-trinh-dao-tao>.grid-col-1>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.button::before{
	opacity: 0.2;
    background-color: #fff;
    transform: rotate(25deg);
    width: 2rem;
    height: 4rem;
    position: absolute;
    right: -10%;
    bottom: -29%;
    padding: 10px;
    content: "";
	display: block;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(2)>.col-inner>.custom_element_chuongtrinhdaotao>.inner{
	margin: auto;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(2)>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.items>.single-bomon-item {
	margin-bottom: 1.4em;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(2)>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.button{
	position: relative;
	overflow: hidden;
	padding: 5px 30px!important;
    border-radius: 6px;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(2)>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.button:hover{
	border: 2px solid #fff;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(2)>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.button::before{
	opacity: 0.2;
    background-color: #fff;
    transform: rotate(25deg);
    width: 2rem;
    height: 4rem;
    position: absolute;
    right: -10%;
    bottom: -29%;
    padding: 10px;
    content: "";
	display: block;
}


.blog__chuong-trinh-dao-tao>.grid-col:nth-child(3)>.col-inner>.custom_element_chuongtrinhdaotao>.inner{
	margin: auto;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(3)>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.button{
	position: relative;
	overflow: hidden;
	padding: 5px 30px!important;
    border-radius: 6px;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(3)>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.button:hover{
	border: 2px solid #fff;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(3)>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.button::before{
	opacity: 0.2;
    background-color: #fff;
    transform: rotate(25deg);
    width: 2rem;
    height: 4rem;
    position: absolute;
    right: -10%;
    bottom: -29%;
    padding: 10px;
    content: "";
	display: block;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(3)>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.items{
	display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(3)>.col-inner>.custom_element_chuongtrinhdaotao>.inner {
	padding-top: 20px;
}

.blog__chuong-trinh-dao-tao>.grid-col:nth-child(3)>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.items>.single-bomon-item{
	width: 47%;
}

.blog__chuong-trinh-dao-tao>.grid-col>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.h3{
	color: #fff;
    font-weight: bold;
}

.blog__chuong-trinh-dao-tao>.grid-col>.col-inner>.custom_element_chuongtrinhdaotao>.inner>.items>.single-bomon-item>a{
	color: #Fff !important;
}