/*
Sau này khi kết thúc dự án hoặc mỗi lần commit anh sẽ move toàn bộ code css của em về nơi nó nên ở đó.
Vì vậy anh yêu cầu
	- Css cho element thì đặt class của element trước và viết dồn lại thành 1 chỗ sao cho dễ copy nhiều dòng 1 lúc
	- Css cho header và footer cũng thế. (xem code mẫu flatsome-main)
	- Không bao giờ được viết css cho 1 class riêng lẻ mà ko bao gồm class parent (trừ khi nó dùng toàn cục)
	- Xem code mẫu flatsome-elements.css và flatsome-main.css

	thực hiện Edit bên dưới, anh sẽ tự move sang sau.

*/



































.header-nav-main li a{
	color: #333;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 15px;
}
.lang-item a img {
	width : 23px!important;
	height : 15px!important;
	border-radius: 2px;
}
.icon-search:before {
    content: "";
    color: #333333;
}
.account-login{
	display : flex!important;
	align-items: center!important;
	color: #fff;
	padding : 10px;
	border-radius : 5px!important;
	justify-content : center;
}
.account-login span, .account-login i {
	color: #fff!important;
	padding : 0 5px;
	font-size: 14px!important;
	font-style: normal;
	font-weight: 400;
	line-height: 23.4px;
}
.account-item .header-button{
	width : 145px;
	
}
/*  Mega Menu*/
.title-mega-menu{
	margin-right: -55px;
	position : relative;
}
.title-mega-menu:before {
    position: absolute;
    width: 34px;
    height: 2px;
    background-color: #008444;
    left: -50px;
    top: 14px;
    z-index: 9;
    content: "";
}
/* Footer */
.text-des-footer , .copyright-footer {
	color: #FFF;
	leading-trim: both;
	text-edge: cap;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; 
}
.list-footer-1 .ux-menu-link .ux-menu-link__link {
	color: #FFF;
	leading-trim: both;
	text-edge: cap;
	font-family: SVN-Gilroy;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
.list-footer-1 .ux-menu-link__link {
	border-bottom-style: none!important;
}
.list-footer-1 .ux-menu-link .ux-menu-link__link i:before{
	color: #0FB239;
}
.clearfix li a {
	color: #fff!important;
	font-size: 16px;
	font-weight: 500;
	line-height: 26.88px;
	text-transform: none;
}
.absolute-footer ul {
    border-bottom: none!important;
}

