/**
----------------------------
            MAIN
----------------------------
*/
:root {
    --xanh-nhat: #EDF5F1;
}


/*========================================= HEADER*/
@media (min-width: 1024px) {
    #masthead .header-nav.nav.nav-left {
        justify-content: center;
    }

    #masthead .header-inner #logo,
    #masthead .header-inner>.flex-right .header-nav {
        min-width: 240px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    #masthead .header-inner #logo:after,
    #masthead .header-inner>.flex-right .header-nav:after {
        content: "";
        width: 1px;
        background: #EAEAEB;
        height: 90px;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }

    #masthead .header-inner>.flex-right .header-nav:after {
        right: unset;
        left: 0px;
    }

    .stuck #masthead .header-inner #logo:after,
    .stuck #masthead .header-inner>.flex-right .header-nav:after {
        height: 70px;
    }
}

@media (min-width: 850px) {
    #masthead .sub-menu {
        background: none !important;
    }

    #masthead .sub-menu>.row {
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
    }
}

/*========================================= FOOTER*/
.absolute-footer:not(.text-center) .footer-primary {
    border-radius: 10px;
    border: 1px solid #333;
    width: 100%;
    padding: 15px !important;

    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-direction: column;
}

.menu-footer-menu-container {
    display: none;
}

@media(min-width: 850px) {
    .absolute-footer:not(.text-center) .footer-primary {
        flex-direction: row-reverse;
        padding: 30px 50px !important;
    }

    .menu-footer-menu-container {
        display: block;
    }
}